<div id="imgSlide1" class="img-slide img-slide-active">
    <img src="../img/01.png" alt="" srcset="../img/01-720px.png 150w,../img/01-1000px.png 250w,../img/01.png 350w">
</div>
<div class="textSlider" id="textSlider1">We’re a group of dedicated parents and individuals who <strong
        class="textOrange">share a common goal</strong> of providing the <strong class="textOrange">best possible
        care</strong> and support for our children after school.</div>

<div id="imgSlide2" class="img-slide"><img src="../img/02.png" alt=""
        srcset="../img/02-720px.png 150w,../img/02-1000px.png 250w,../img/02.png 350w"></div>
<div class="textSlider" id="textSlider2">As working parents, we understand the challenges of balancing work and
    family life. We also understand the importance of ensuring that our children are in a safe, <strong
        class="textOrange">nurturing environment</strong> when they are not in school.</div>

<div id="imgSlide3" class="img-slide"><img src="../img/03.png" alt=""
        srcset="../img/03-720px.png 150w,../img/03-1000px.png 250w,../img/03.png 350w"></div>
        <div class="textSlider" id="textSlider3">We believe that by working together as a community, we can provide our
            children with the <strong class="textOrange">best possible care</strong> and support after school. Our goal is
            to make sure that every child feels <strong class="textOrange">valued, supported, and empowered</strong> to
            reach their full potential. </div>


