<section class="calendar-wrapper">
    <div class="calendar">
        <div class="calendar-nav">
            <i class="fa-sharp fa-solid fa-chevron-left prev-month-button"></i>
            <h2 class="month-header">January 2023</h2>
            <i class="fa-sharp fa-solid fa-chevron-right next-month-button"></i>
        </div>
        <ul class="calendar-week">
            <li>Su</li>
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
        </ul>
        <ul class="calendar-days">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li>31</li>
        </ul>
    </div>
</section>
<section class="events-wrapper">
    <div class="events-header">
        <h3>Events</h3>
    </div>
    <div class="event-items-list-wrapper">
        <ul class="events-list">
            <li class="event-items">
                <div class="event-header">
                    <h3>pick-up</h3>
                </div>
                <div class="event-description">
                    <div class="event-datetime">
                        <p>March 1, 2023 at 9:12PM</p>
                    </div>
                    <div class="event-location">
                        <p>1234 Main St. New York, NY 10001</p>
                    </div>
                    <div class="event-desc-proper">
                        <p>lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="event-type">
                        <p>getcare</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
