

<div id="searchOutput" class="searchOutput-inactive "></div>
<h2 class="page-title">Dashboard
    <div id="scoreOutput"></div>
</h2>

<section class="notification">
    <h3 class="notification-header">Notifications</h3>
    <div class="notification-item-content" id="notification-item-content">
    </div>
</section>
<div id="loggedIn" class="inactive-div active-div">
    <!-- <a href="#" id="friendList">friend list</a>
    <br> -->
    <!-- <label for="searchInput">Search for friends</label>
    <input type="email" name="searchInput" id="searchInput">
    <button id="submitBtnSearch" type="button">Search</button> -->
    <br>
    
    <div class="main">
        
        <!-- <h2>GET CARE</h2> -->
        <div id="request-list">
        </div>

        <!-- <h2>GIVE CARE</h2> -->
        <div id="received-request-list"></div>

    </div>
</div>  


<div class="dashboard-lower-wrapper">
    <section class="dashboard dashboard-parent-suggestion">
        <div class="section-header dashboard-section-header">
            <h2 class="dashboard-section-header-title">Co-Parents you may know</h2>
            <a href="/parents" class="dashboard-section-header-link">See more</a>
        </div>
        <div class="section-body dashboard-section-body" id="parentSuggestionListWrap">
            <ul class="parent-suggestion-list">
            </ul>
        </div>
    </section>
    
    <section class="dashboard dashboard-conversation-snapshot">
        <div class="section-header dashboard-section-header-conversations">
            <h2 class="dashboard-section-header-title">Conversations</h2>
            <a href="/messages" class="dashboard-section-header-link">See more</a>
        </div>
        <div class="section-body dashboard-section-body">
            <ul class="conversation-snapshot-list">
                <!-- <li class="conversation-snapshot-list-item">
                    <div class="conversation-snapshot-list-item-pic">
                        <img src="https://picsum.photos/200?random=4" alt="Random Pic">
                    </div>
                    <div class="conversation-snapshot-list-item-content">
                        <h3 class="conversation-snapshot-list-item-content-name">Annie Simmons</h3>
                        <p class="conversation-snapshot-list-item-content-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                    </div>
                </li>
    
                <li class="conversation-snapshot-list-item">
                    <div class="conversation-snapshot-list-item-pic">
                        <img src="https://picsum.photos/200?random=5" alt="Random Pic">
                    </div>
                    <div class="conversation-snapshot-list-item-content">
                        <h3 class="conversation-snapshot-list-item-content-name">Callie Mitchell</h3>
                        <p class="conversation-snapshot-list-item-content-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                    </div>
                </li>
    
                <li class="conversation-snapshot-list-item">
                    <div class="conversation-snapshot-list-item-pic">
                        <img src="https://picsum.photos/200?random=6" alt="Random Pic">
                    </div>
                    <div class="conversation-snapshot-list-item-content">
                        <h3 class="conversation-snapshot-list-item-content-name">Isabelle Pratt</h3>
                        <p class="conversation-snapshot-list-item-content-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                    </div>
                </li> -->
            </ul>
        </div>
    </section>
</div>