<div class="get-care">
    <div class="get-care-header-desktop">
        <img src="../img/get-care-header.png" alt="" class="header-image-desktop">
    </div>

    <div class="get-care-header-mobile">
        <img src="../icons/get-icon.svg" alt="" class="mobile-header-icon">
        <h1>GET Care</h1>
        <div>Request care from co-parent</div>
    </div>

    <div class="care-home">
        <div class="requests">
            <h2 class="requests-h2">Request List</h2>
            <div class="requests-header">
                
                <div class="requests-header-item active" id="pendingHeader">Pending</div>
                <div class="requests-header-item" id="acceptedHeader">Accepted</div>
                <div class="requests-header-item" id="completedHeader">Completed</div>
            </div>
            <div class="request-list pending-requests active">
            </div>
            <div class="request-list accepted-requests">
            </div>
            <div class="request-list completed-requests">
            </div>
        </div>

        <div class="request-details-mobile hide">
            <div class="summary-item" id="request-type"></div>
            <div class="summary-item" id="kids-details"></div>
            <div class="summary-item" id="request-description"></div>
            <div class="summary-item" id="request-date"></div>
            <div class="summary-item" id="request-start-time"></div>
            <div class="summary-item" id="request-end-time"></div>
            <div class="summary-item" id="request-start-location"></div>
            <div class="summary-item" id="request-end-location"></div>
            <div class="summary-item" id="friends-details"></div>
            <div class="summary-item" id="map2"></div>
        </div>
    </div>

    <div class="create-request-button">
        <a href="care#">
            <button class="general-button" id="request">Create Request
            </button>
        </a>
    </div>
    
</div>




