<div class="notAvailable">
    <div>
        <p>Sorry. This feature is not available at the moment.</p>
    </div>
</div>
<div class="section-header">
    <h2 class="chat-header">Messages</h2>
    <div class="search">
        <input type="text" placeholder="Search" class="search-input" id="search-input">
        <i class="fas fa-magnifying-glass"></i>
    </div>
</div>
<div class="chat-wrapper">
    <div class="messages messages-users" id="messages-users">
        <div class="messages-users-header">
            <div class="messages-header-title">
                <h2>Parents List</h2>
            </div>
        </div>
        <ul class="users-list" id="users-list">
        </ul>
    </div>
    <div class="messages-wrapper">
        <div class="messages-wrapper-header">
            <div class="messages-wrapper-user-info">
                <div class="messages-wrapper-user-avatar">
                </div>
            </div>
        </div>
        <ul class="messages-area">
        </ul>
        <form action="post" class="forms forms-messages" id="message-form">
            <button class="forms-messages-button photos" id="forms-message-photos">
                <i class="fa-solid fa-image"></i>
            </button>
            <button class="forms-messages-button location" id="forms-message-location">
                <i class="fa-solid fa-location-dot"></i>
            </button>
            <input type="text" id="message-input" placeholder="Add a message here" class="message-input">
            <input type="submit" value="Send" id="message-submit" class="message-submit">
        </form>
    </div>
</div>

