<div id="searchOutput" class="searchOutput-inactive "></div>
<h2 class="page-title">My Profile
    <div id="scoreOutput"></div>
</h2>

<div class="user-profile-profile" id="userProfileProfile">

    <div class="user-profile-pic-wrap">
        <img src="img/Portrait_Placeholder.png" alt="" class="user-profile-pic" id="userProfilePicProfile">
    </div>
    <h2 class="user-name" id="user-name">
        <span id="userFirstNameProfile">Test</span>
        <span id="userLastNameProfile">Test</span>
    </h2>
    <!-- <button>Edit your profile</button> -->

    <!-- <h3>My Kids</h3> -->
    <div class="kidArea" id="kidArea">


        <button id="addMoreKid">+<br>Add more kid</button>
    </div>

</div>




<div class="friendList section-wrap" id="friendList">
    <h2>My Friends</h2>
    <div class="friendRequestOutput" id="friendRequestOutput"></div>
    <div class="friendOutput" id="friendOutput"></div>
</div>


<div class="main">
    
</div>

