<section class="section-profile">
    <div class="profile">
        <div class="profile-main">
            <div class="profile-main-pic">
                <img src="../img/Portrait_Placeholder.png" alt="Profile Picture" id="profile-main-pic-img">
            </div>
            <div class="profile-main-info">
                <h3 class="profile-main-info-name" id="profile-main-name"></h3>
                <button class="profile-main-info-btn" id="profile_friend_button">
                    <i class="fa-solid fa-user-check"></i>
                    Add Friend
                    <!-- <i class="fa-solid fa-user-xmark"></i> -->
                </button>
                <button class="profile-main-info-btn" id="profile_message_button">
                    <i class="fa-solid fa-message"></i>
                    Message Me
                </button>
                <!-- <p class="profile-main-info-transpo">Mode of transportation: Car <i class="fa-solid fa-car"></i></p> -->
            </div>
        </div>
        <div class="profile-kid">
            <h2 class="profile-kid-header">Kid List</h2>
            <div class="profile-kid-profiles">
                <i class="fa-solid fa-lock"></i>
                <h3>Profile Protected</h3>
            </div>
        </div>
    </div>
</section>