<h2 class="page-title">Sign up</h2>
<div id="signUp" class="inactive-div active-div">
    <div id="EmailSignUp" class="inactive-div active-div ">


        <div class="input" id="userInput">
            <form action="" class="signinForm">
                <label for="txtEmailSignUp" class="visually-hidden">Email</label>
                <input tabindex="0" type="email" name="txtEmailSignUp" id="txtEmailSignUp" placeholder="Email">

                <label for="txtPasswordSignUp" class="visually-hidden">Password</label>
                <input type="password" name="txtPasswordSignUp" id="txtPasswordSignUp" placeholder="Password">
            </form>
        </div>
        <div class="buttonWrap">
            <button id="backBtnSignUp" type="button" class="backBtn">Back</button>

            <button id="submitBtnSignUp" class="confirmBtn"  type="button">Next</button>
        </div>
    </div>




    <p class="alternativeText">Already have an account? <a href="/signin"> Log in</a></p>
