<h2 class="page-title">Sign in</h2>
<form id="signin" class="signinForm" method="post">
    
    
    <label for="txtEmail" class="visually-hidden">Email</label>
    <input tabindex="0" type="email" name="email" id="txtEmail" placeholder="Email" value="demo@account.com">

    <label for="txtPassword" class="visually-hidden">Password</label>
    <input type="password" name="password" id="txtPassword" placeholder="Password" value="123456">
    <div class="buttonWrap">
        <button id="backBtn" class="backBtn" type="button">Back</button>
        <button id="submitBtn" class="confirmBtn" type="button">Sign in</button>
    </div>

</form>
<p class="alternativeText">Don't have an account? <a href="/signup" id="linkToSignUp"><strong>Sign up now</strong></a></p>