:root {
    --main-blue: #2558D5;
    --light-blue:#0FABDC;
    --bg-lightgrey : #F3F3F3;
    --orange: #FF7E61;
    --head-font: 'Fredoka';
    --body-font: 'Lato'
}

.textOrange {
    color: var(--orange);
}

.textSlider{
    margin-bottom: 1rem;
}