:root {
  --main-blue: #2558d5;
  --light-blue: #0fabdc;
  --bg-lightgrey: #f3f3f3;
  --orange: #ff7e61;
  --head-font: "Fredoka";
  --body-font: "Lato";
}

.mainWrap {
    padding: 2rem 2%;
}

#app-wrapper {
    /* padding: 0 2%; */
    margin-left: auto;
    margin-right: auto;
}

.calendar {
  background-color: #0fabdc;
  color: white;
  padding: 1rem 0.5rem 2rem 0.5rem;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  /* width: 100%; */
  margin-bottom: 1rem;
}

.calendar-wrapper {
  
  width: 100%;
}

.calendar-wrapper h2 {
  font-size: 1.15rem;
  font-weight: 600;
  color: white;
}

.calendar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2rem 1rem;
  background-color: var(--orange);
}

.calendar-week,
.calendar-days {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(7, 1fr);
  list-style-type: none;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  gap: clamp(1rem, 0.695rem + 1.356vw, 5rem);
}

.calendar-week {
  font-weight: 600;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.prev-month,
.next-month {
  color: rgba(255, 255, 255, 0.5);
}

.prev-month-button:hover,
.next-month-button:hover {
  cursor: pointer;
  color: var(--main-blue);
}

/* Events Wrapper CSS ====================================================== */
.events-wrapper {
  background-color: white ;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 2rem 0;
  overflow: hidden;
  border-radius: 10px;
}

.events-header {
  background-color: var(--orange);
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.events-header h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: white;
}

.events-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0fabdc;
  padding: 0.5rem 0;
  border-radius: 10px 10px 0 0;
}

.event-header h3 {
  color: white;
  font-size: 1.15rem;
}

.event-description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: var(--bg-lightgrey);
  border-radius: 0 0 10px 10px;
}

.event-description p {
  margin: 0;
  padding: 0;
}

.event-desc-proper {
  font-size: 0.9rem;
  font-weight: 600;
  border-top: 1px solid #aaa;
}

.event-items a{
    text-decoration: none;
    color: black;
}


.event-type {
  align-self: flex-end;
  border-radius: 10px;
  padding: 0.25rem 1rem;
  color: white;
  background-color: #0fabdc;
}

/* Media Queries =================================================== */

@media screen and (min-width: 800px) {
  #app-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: start;
    /* padding: 0 2%; */
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
  }
/* 
  .events-wrapper {
    height: 70dvh;
    height: 70vh;
  } */
}
/* 
@media screen and (width < 780px) {
  main {
    grid-template-rows: 1fr;
  }
  #secondaryMenu {
    display: none;
  }

  #app-wrapper {
    display: grid;
    gap: 1rem;
  }
} */
