.page {
  padding: 1rem;
}

.mobile-menu-active {
  opacity: 1;
  /* display: flex;
  flex-flow: column wrap; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  transform: translateX(0);
  position: absolute;
  left: 0;
  top: 82px;
  bottom: -82px;
  box-sizing: border-box;
  height: calc(100vh - 82px) ;
  z-index: 10;
  width: 232px;
  background-color: white;
  text-align: center;
  padding: 2rem 2% 0 2%;
}

.site-desktop-logo img {
  margin-left: auto;
  margin-right: auto;
}

.user-profile {
  margin: 1.5rem auto 1.5rem auto;
}
.user-profile a {
  text-decoration: none;

  color: var(--main-blue);
}
.user-profile h2 {
  font-weight: 700;
}

.user-profile-pic-wrap img {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.user-profile-pic-wrap {
  margin: 1rem auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

.menu-item {
  list-style: none;
  text-align-last: left;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--main-blue);
}

.menu-item-active {
  background-color: var(--main-blue);
  color: white;
}
.menu-item-active .nested-item {
  display: block;
}

.menu-item h2 {
  display: inline;
}

.menu-item i {
  margin-right: 1rem;
  font-size: 1.75rem;
}

.nested-item {
  /* padding-left: 2rem; */
  display: none;
}

/* #menuItemCare:hover ~ .nested-item {
  display: block;
} */

.nested-item i {
  font-size: 1rem;
  visibility: hidden;
}

i.nested-item-active {
  visibility: visible;
}

.nested-item h2 {
  font-size: 1.25rem;
}

#menuItemGetCare {
  background-color: var(--main-blue);
  color: white;
}


.form-wrapper-page {
  background-color: #0FABDC;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 640px;
  margin: 1rem 0;
  color: white;
}

#form-wrapper-page {
  background-color: #0FABDC;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 640px;
  margin: 1rem 0;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.friends-button-wrapper {
  margin: 1rem;
  /* padding: 2rem; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: 1;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.details label {
    font-size: 1.4rem;
}

label, .kid-details label {
    width: 100%;
    display: block;
    font-size: 1rem;
  }
  
  input, select, textarea {
  margin-bottom: 1rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 10px;
  }

  textarea {
    margin-bottom: 0.75rem;
  }
    
  .request-title input, .kid-details input {
    width: 3%;
  }

  .kid-checkbox,
  .friend-checkbox {
    max-width: 1rem;
  }
  
  #start-location, #end-location {
    width: 100%;
  }

  input:focus, select:focus, textarea:focus {
    Border-color: rgb(39, 107, 244);
    Outline:rgb(39, 107, 244) 3px solid;
  }

.general-button {
  justify-self: center;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Fredoka', cursive;
  padding: 0.5rem 3rem 0.5rem 3rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  color: white;
  background-color: var(--main-blue);
  border: none;
}

#back {
  width: 146px;
  margin-bottom: 1rem;
}

  .general-button:active {
    background-color: grey;
    color: white;
    /* border: 2px solid rgb(39, 107, 244); */
  }

 .select-friend {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#select-friend-label {
  grid-column: span 2;
  
}

  .details {
    display: inline-block;
  }

  label {
    font-size: 1rem;
  }

  .form-input {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 0.7rem;
    font-size: .9rem;
    font-family: var(--body-font) ,sans-serif;
}

  .submit-request-wrapper
  h3 {
    font-weight: 400;
    font-size: .9rem;
    margin-top: 0;
  }

  #kids-details,
  #kids-details-output,
  .request-details-output,
  #kids-notes,
  .date-output,
  .start-time-output,
  .end-time-output,
  .start-location-output,
  .end-location-output,
  .friends-details-output,
  .date-time-output,
  .select-friend {
    /* margin: 1rem 0 1rem 0; */
    width: 95%;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: .9rem;
    font-family: var(--body-font) , sans-serif;
}

.friends-details-output {
  margin-bottom: 1rem;
}

.date-time-output {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.date-time-output h4 {
  flex: 1 0 100%;
  justify-self: flex-start;
}


.time {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

#kids-details-output p {
  margin: 0;
}
  
#child-details,
#friend-details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-bottom: 0.3rem;
}

#child-details label,
#friend-details label {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 2rem;
  justify-content: start;
}

#child-details input:focus {
  border-color: none;
}

#friend-details input:focus {
  border-color: none;
}

.select-kid input:focus,
.select-friend input:focus {
    Border-color: none;
    Outline: none;
  }

  .select-kid,
  .select-friend {
    margin-bottom: 1rem;
  }

  /* .select-friend {
    margin-top: 1rem;
  } */
  .select-kid label {
    margin: 0;
  }


  #type option:nth-child(1) {
    color: lightgray;
  }

  #request-confirm {
    display: none;
  }

  #request-success {
    text-align: center;
    display: none;
  }

  #request-success .success-banner {
    padding: 3rem;
    background-color: var(--light-blue);
    color: white;
    border-radius: 1rem;
  }

  .success-message {
    margin: 2rem 1rem;
  }

  .success-banner .fa-square-check {
    font-size: 3rem;
    margin-top: 3rem;
  }

 .request-type h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
 }

 .request-type {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5rem;
 }

 #request-type-output {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Fredoka', cursive;

 }

 #request-confirm h4:not(#friends-list-header) {
  color: darkblue;
  font-size: 0.8rem;
  margin: 0.5rem 0;

 }

 #next,
 #submit,
 #dashboard {
  margin-bottom: 1rem;
 }

 #friends-list-header {
  font-family: var(--body-font);
  color: black;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: normal;
 }

 /* Desktop */
@media screen and (min-width: 800px) {
  .form-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }

}


