:root {
  --main-blue: #2558d5;
  --light-blue: #0fabdc;
  --bg-lightgrey: #f3f3f3;
  --orange: #ff7e61;
  --head-font: "Fredoka";
  --body-font: "Lato";
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mainWrap h2 {
  font-weight: bold;
  color: var(--main-blue);
}

body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  font-family: "Lato", serif;
  line-height: 1.5;
}

.mainWrap {
  font-family: var(--body-font), serif;
  max-width: 700px;
  padding: 2rem 2%;
  margin-left: auto;
  margin-right: auto;
}
/* 
#app-wrapper {
  padding: 2rem 2%;
  height: 100%;
} */

h1 {
  font-family: "Fredoka", serif;
  font-weight: bold;
  margin: 0;
}

h2,
h3 {
  font-family: "Fredoka", serif;
  font-weight: normal;
  margin: 0;
}

/* header========= */

header {
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem 2%;
}

.mobile-menu button {
  color: black;
  background-color: unset;
  border: none;
  padding: 0;
}

.site-mobile-logo img {
  height: 50px;
}

.site-mobile-logo {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  object-fit: contain;
}

.mobile-menu button i {
  font-size: 1.5rem;
}

/* .side-menu > button, .side-menu > input  {
    display: none;
} */

/* .desktop-menu {
  display: none;
} */

.desktop-menu {
  transform: translateX(-120%);
  position: absolute;
  left: 0;
  top: 82px;
  bottom: -82px;
  height: 100vh;
  opacity: -100;
  transition: all 0.5s;
  /* transition: opacity 1s; */
}

.mobile-menu-active {
  opacity: 1;
  /* display: flex;
  flex-flow: column wrap; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  transform: translateX(0);
  position: absolute;
  left: 0;
  top: 82px;
  bottom: -82px;
  box-sizing: border-box;
  height: calc(100vh - 82px);
  min-height: 900px;
  z-index: 10;
  width: 232px;
  background-color: white;
  text-align: center;
  padding: 2rem 2% 0 2%;
}

.btnLogout-non-acitve {
  display: none;
}

.btnLogout-acitve {
  display: unset;
  align-self: end;
  margin-bottom: 2rem;
  justify-content: end;
  font-family: var(--body-font), serif;
  border: none;
  background-color: unset;
  text-align: right;
  color: var(--main-blue);
}

.site-desktop-logo img {
  margin-left: auto;
  margin-right: auto;
}

.user-profile {
  margin: 1.5rem auto 1.5rem auto;
}
.user-profile a {
  text-decoration: none;

  color: var(--main-blue);
}
.user-profile h2 {
  font-weight: 700;
}

.user-profile-pic-wrap img {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.user-profile-pic-wrap {
  margin: 1rem auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

.menu-item {
  list-style: none;
  text-align: left;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--main-blue);
}

.menu-item-active {
  background-color: var(--main-blue);
  color: white;
}
.menu-item-active .nested-item {
  display: block;
}

.menu-item h2 {
  display: inline;
}

.menu-item i {
  margin-right: 1rem;
  font-size: 1.75rem;
}

.nested-item {
  /* padding-left: 2rem; */
  display: none;
}

/* #menuItemCare:hover ~ .nested-item {
  display: block;
} */

.nested-item i {
  font-size: 1rem;
  visibility: hidden;
}

i.nested-item-active {
  visibility: visible;
}

.nested-item h2 {
  font-size: 1.25rem;
}

/* .desktop-menu.mobile-menu-active{
  display: flex;
  position: unset;
  flex-flow: column wrap;
  flex-grow: 1;
  color: var(--main-blue);
  box-sizing: border-box;
} */

.site-desktop-logo {
  margin-left: auto;
  margin-right: auto;
}

.user-profile {
  display: none;
}
.user-profile-active {
  display: block;
}

.menu-list a {
  text-decoration: none;
  color: white;
}

#menuItemCare a {
  color: var(--main-blue);
}
.menu-item-active#menuItemCare a {
  color: white;
}

.nav-login-user {
  display: none;
}

.nav-login-user-active {
  display: unset;
}

.nav-non-login-user {
  display: none;
}
.nav-non-login-user-active {
  display: unset;
}

.site-mobile-logo {
  margin-left: auto;
  margin-right: auto;
}

.secondary-menu {
  display: none;
}

.secondary-menu-active {
  display: block;
}

.welcome-user h2 {
  font-size: 1rem;
}

#welcomeUserName {
  font-size: 1.25rem;
}

#request-list,
#received-request-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.main h2 {
  font-weight: 700;
  display: block;
  margin: 1rem;
  color: darkblue;
}

.secondary-menu-active {
  background-color: var(--bg-lightgrey);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  justify-content: space-between;
  /* flex-flow: row wrap; */
  gap: 1rem;

  display: grid;
  /* grid-template-columns: auto 1fr auto; */
  grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
  /* gap: 1rem; */
  padding: 2rem 2%;
  color: var(--main-blue);
  align-items: center;
}

.secondary-menu input {
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  appearance: none;
  background-color: white;
}

.secondary-menu input::placeholder {
  font-family: "FontAwesome";
  padding: 0.25rem;
  color: var(--main-blue);
}

.secondary-menu-list {
  display: grid;
  grid-template-columns: 1fr auto;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  gap: 1rem;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-grow: 1;
}

@media screen and (min-width:525px){

  .secondary-menu-list {
    flex-grow: unset;
    justify-content: end;
    -webkit-justify-content: end;
  }
}
.secondary-menu button {
  color: var(--main-blue);
  background-color: unset;
  border: none;
  font-size: 2rem;
  width: fit-content;
  padding: 0;

}

/* =================================== */

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.page-title #scoreOutput {
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
  font-family: var(--body-font), serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 150px;
  align-items: center;
}

.page-title #scoreOutput img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: -1;
}

.page-title #scoreOutput p {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 1;
  text-align: right;
  padding-right: 0.5rem;
}
/* .page-title div i {
  color: gold;
} */

.searchOutput-inactive {
  display: none;
}

.searchOutput h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchOutput h2 a {
  font-weight: normal;
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.searchOutput {
  /* color: var(--light-blue); */
  font-weight: bold;
  font-family: var(--head-font), serif;
  background-color: white;
  padding: 1rem;
  display: block;
  border-radius: 20px;
}

.searchCardWrap {
  display: flex;
}

.searchCard {
  flex-basis: 25%;
  font-family: var(--head-font), serif;
  margin: 1rem;
  background-color: var(--bg-lightgrey);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

.searchCard img {
  width: 150px;
  aspect-ratio: 1/1;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.sendFriendRequestBtn {
  background-color: var(--orange);
  font-family: var(--body-font), serif;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.sendFriendRequestBtn:hover {
  background-color: #c46651;
  cursor: pointer;
}

.request-status {
  color: red;
}

@media screen and (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 232px 1fr;
  }

  .mobile-menu {
    display: none;
  }

  .site-mobile-logo {
    display: none;
  }

  .desktop-menu {
    display: unset;
    transform: unset;
    position: unset;
    left: unset;
    top: unset;
    bottom: unset;
    height: calc(100vh - 82px);
    opacity: unset;
    transition: unset;
  }

  header {
    width: 232px;

    /* display: block; */
    display: flex;
    flex-flow: column wrap;
    /* align-content: center; */
    text-align: center;
    padding: 0 8% 0 8%;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    padding-top: 2rem;
  }

  .mobile-menu-active {
    width: unset;
  }

  .desktop-menu {
    /* display: flex; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: unset;
    width: 100%;
    flex-flow: column wrap;
    flex-grow: 1;
    color: var(--main-blue);
    box-sizing: border-box;
  }

  .user-profile {
    margin: 1.5rem auto 1.5rem auto;
  }
  .user-profile a {
    text-decoration: none;

    color: var(--main-blue);
  }
  .user-profile h2 {
    font-weight: 700;
  }

  .user-profile-pic-wrap img {
    width: 100%;
    height: 100px;

    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
  .user-profile-pic-wrap {
    margin: 1rem auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  .menu-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
  }

  .menu-item {
    list-style: none;
    text-align: left;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--main-blue);
  }

  .menu-item-active {
    background-color: var(--main-blue);
    color: white;
  }
  .menu-item-active .nested-item {
    display: block;
  }

  .menu-item h2 {
    display: inline;
  }

  .menu-item i {
    margin-right: 1rem;
    font-size: 1.75rem;
  }

  .nested-item {
    /* padding-left: 2rem; */
    display: none;
  }

  /* #menuItemCare:hover ~ .nested-item {
    display: block;
  } */

  .nested-item i {
    font-size: 1rem;
    visibility: hidden;
  }

  i.nested-item-active {
    visibility: visible;
  }

  .nested-item h2 {
    font-size: 1.25rem;
  }

  .secondary-menu-active {
    background-color: var(--bg-lightgrey);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    /* display: grid;
        grid-template-columns: auto  1fr auto;
        gap: 1rem; */
    padding: 2rem 2%;
    color: var(--main-blue);
    align-items: center;
  }

  .secondary-menu input {
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
  }

  .secondary-menu input::placeholder {
    font-family: "FontAwesome";
    padding: 0.25rem;
    color: var(--main-blue);
  }

  .secondary-menu-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
  .secondary-menu button {
    color: var(--main-blue);
    background-color: unset;
    border: none;
    font-size: 2rem;
    width: fit-content;
  }
}

#button-notifications {
  position: relative;
  cursor: pointer;
}

#button-notifications .notification-count {
  position: absolute;
  top: 0;
  right: 0;
}

#button-notifications .notification-count-active {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
  font-size: 0.75rem;
}

.offline-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(28, 28, 61);
  color: white;
  text-align: center;
  z-index: 9999;
  display: none;
}
