.notification-header {
    margin: 0 auto 1rem auto;
    padding: 0 1rem;
}

.notification-header h3 {
    font-family: 'Fredoka';
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--main-blue);
}

.wrapper-notification {
    display: grid;
    width: 95%;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.list-notification {
    height: 70dvh;
    height: 70vh;
    overflow-y: scroll;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item-notification {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
}

.notification-item-body {
    margin: 0;
}

@media screen and (width < 800px) {
    main {
        grid-template-rows: 1fr;
    }
    #secondaryMenu {
        display: none;
    }
}