.parents-parents-list {
    padding: 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    list-style-type: none;
    justify-items: center;
    align-content: center;
}

.parents-parents-list-item {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}

.parents-parents-list-item a {
    text-decoration: none;
    color: black;
}

.parents-parents-list-item-content-name {
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.parents-parents-list-item-pic {
    padding: 1rem;
}

.parents-parents-list-item-pic img {
    width: 150px;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.parents-parents-list-item-btn {
    background-color: #FF7E61;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    margin-top: 0.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}