:root {
  --main-blue: #2558D5;
  --light-blue: #0fabdc;
  --bg-lightgrey: #f3f3f3;
  --orange: #ff7e61;
  --head-font: "Fredoka";
  --body-font: "Lato";
}

p {
  margin: 0;
}

.mainWrap {
  padding: 2rem 2%;
  font-family: var(--body-font), serif;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.mainWrap h2 {
  font-weight: bold;
  color: var(--main-blue);
}

img {
  max-width: 100%;
  height: auto;
}

.searchOutput {
  display: block;
  background-color: white;
  border-radius: 20px;
  padding: 1rem 2%;
}
