:root {
  --main-blue: #2558D5;
  --light-blue: #0fabdc;
  --orange: #ff7e61;
  --head-font: "Fredoka";
  --body-font: "Lato";
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  color: var(--orange);
}

.mainWrap {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2vw;
  padding-right: 2vw;
  max-width: 700px;
  box-sizing: border-box;
  
}

.mainWrap * {
  box-sizing: border-box;
}

.inactive-div {
  display: none;
}

.active-div {
  display: block;
}

h1 {
  font-size: 2rem;
  font-family: "Fredoka One", cursive;
  text-align: left;
  color: var(--light-blue);
}

.page-title {
  color: var(--main-blue);
  font-weight: bold;
  margin: 0;
}
.signinForm {
  text-align: center;
  max-width: 700px;
  margin: 2rem auto 0;
}

.signinForm input {
  font-family: var(--body-font);
  color: white;
  display: block;
  margin: 0.5rem auto;
  width: 100%;
  padding: 0.5rem;
  background-color: #0fabdc;
  border-radius: 5px;
  border: none;
}
.signinForm input::placeholder {
  font-family: var(--body-font);
  color: white;
}

.confirmBtn {
  display: inline-block;
  padding: 1rem;
  background-color: var(--orange);
  color: white;
  font-family: var(--head-font), serif;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.backBtn {
  display: inline-block;
  background-color: white;
  color: var(--light-blue);
  padding: 1rem;
  font-family: var(--head-font), serif;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonWrap {
  text-align: center;
}

.alternativeText {
  text-align: center;
  margin-top: 1rem;
}

/* 
input, label {
    display: block;
} */

/* 
.button {
    font-size: 1rem;
    font-family: 'Fredoka One';
    background-color: blue;
    text-decoration: none;
    color:  white;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 10px;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px rgb(224 219 219);
    margin-top: 1rem;
    display: inline;
    margin-left: auto;
    margin-right: auto;
} */

/* Request cards */
/* 
#request-list {
    padding: 2rem 0;
    max-width: 600px;
}

.request-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden; 
    margin: 1rem 0;
}

.pending {
    background: red;
}

.accepted {
    background: green;
}

.request-title, .request-details {
    color: white;
    background: transparent;
}

.request-title {
    padding: 1rem 1rem 0.5rem 1rem;
}

.request-details {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.care-date {
    padding-right: 1rem;
    border-right: 2px solid white;
}

.care-time, .request-status {
    padding-left: 1rem;
}

.request-status {
    flex: 1;
    text-align: center;
} */
